{% extends 'blog/base.html' %}
{% block content %}
    <div class="container px-4 px-lg-5">
        
        <h2 class="post-title">제목 : {{post.title}} </h2>
        <hr class="divider">
        
        <p>작성 일지 및 시간 : {{ post.pub_date }}</p>
        <p>작성자 : {{post.writer}}</p>
        <p>내용 : {{post.body}}</p>

        {% if post.image %} 
            <img src = "{{ post.image.url }}" width = "250" height="250" alt="Card iamge cap">
        {% endif %} 
        <br>

        {% for hashtag in post.hashtags.all %} 
            <span>{{ hashtag.name }}</span>
        {% endfor %}
        <br><br>

        <a href = "{% url 'edit' post.id %}">수정하기</a>
        <a href = "{% url 'delete' post.id %}">삭제하기</a>

        <br> <br> <br>
        {% for comment in post.comments.all %} 
            <p>{{ comment.text }}</p>
        {% endfor %} 
        <form method="POST" action="{% url 'detail' post.id %}">
            {% csrf_token %} 
            <p>{{ form.as_p }}</p>
            <input type="submit" value="submit">
        </form>
        
    </div>

{% endblock %}