{% extends 'blog/base.html' %}
{% block content %}
    <div class="container px-4 px-lg-5">
        
        <h2 class="post-title">READ</h2>
        <hr class="divider" />
        {% for posts in posts.all %}
        <p>제목 : <a href="{% url 'detail' posts.id %}">{{posts.title}}</a> </p>
        <p>작성자 : {{posts.writer}}</p>
        <p>작성 일지 및 시간 : {{ posts.pub_date }}</p>
        {% if posts.image %} 
            <img src = "{{ posts.image.url }}" width = "250" height="250" alt="Card iamge cap">
        {% endif %} 
        <hr>
        {% endfor %}
        
    </div>
{% endblock %}